{% extends "base.html" %}

{% block content %}
    <p>this is settings</p>
    <form action="/settings" method="post" accept-charset="utf-8"
          enctype="application/x-www-form-urlencoded">

        <label for="name">name</label>
        <input id="name" name="name" type="text" value="{{settings['name']}}" autofocus/>
        <label for="location">location</label>
        <input id="location" name="location" type="text" value="{{settings['location']}}"/>
        <label for="host">host</label>
        <input id="host" name="host" type="text" value="{{settings['host']}}"/>
        <label for="port">port</label>
        <input id="port" name="port" type="text" value="{{settings['port']}}"/>
        <input type="submit" value="Save"/>
    </form>
{% endblock %}
